@import "tailwindcss";

:root {
  color-scheme: light dark;
  --bg-color: #ffffff;
  --text-color: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0f172a;
    --text-color: #f8fafc;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}



a {
  cursor: pointer;

}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}